<mat-sidenav-container class="home-container">
  <mat-sidenav #sidenav opened mode="side" class="mat-elevation-z8">
    <div class="left-container">
      <ul>
        <li>
          <input type="file" #cvOpen (change)="parseDaxtra($event)" style="display: none;">
          <a mat-mini-fab (click)="cvOpen.click()" color="primary" matTooltip="Upload resume" matTooltipPosition="right">
            <mat-icon class="white-color">insert_drive_file</mat-icon>
          </a>
        </li>
        <li>
          <a mat-mini-fab routerLink="['/']" color="primary" matTooltip="Design template" matTooltipPosition="right">
            <mat-icon class="white-color">view_list</mat-icon>
          </a>
        </li>
        <li>
          <a mat-mini-fab [routerLink]="['/settings']" matTooltip="Settings" matTooltipPosition="right">
            <mat-icon class="white-color">settings</mat-icon>
          </a>
        </li>
      </ul>
    </div>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>
<app-loader></app-loader>