// Import material theming functions
@import '~@angular/material/theming';

@include mat-core();

// Copy the palettes from your selected theme (usually theme.scss).
$app-primary: mat-palette($mat-indigo);
$app-accent:  mat-palette($mat-pink);
$app-warn:    mat-palette($mat-pink);

// Create your Sass color vars (will be available in all the project)
$primary: rgb(7, 71, 166);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn)
