<mat-sidenav opened mode="side" position="end" class="animated slideInRight mat-elevation-z8">
  <div class="tool-container">
    <perfect-scrollbar class="scroll-container" [config]="config" [scrollIndicators]="true">
      <div class="scrollable-content">
        <mat-tab-group dynamicHeight>
          <mat-tab label="Layout">
            <div class="layout-container" cdkDropList [cdkDropListConnectedTo]="mainTempl">
              <mat-card fxLayout="row" cdkDrag cdkDragData="1" class="mat-elevation-z4">
                <div class="drop-placeholder"></div>
              </mat-card>
              <mat-card cdkDrag cdkDragData="2" class="mat-elevation-z4">
                <div fxLayout="row" fxLayoutGap="16px">
                  <div class="drop-placeholder"></div>
                  <div class="drop-placeholder"></div>
                </div>
              </mat-card>
              <mat-card cdkDrag cdkDragData="3" class="mat-elevation-z4">
                <div fxLayout="row" fxLayoutGap="16px">
                  <div class="drop-placeholder"></div>
                  <div class="drop-placeholder"></div>
                  <div class="drop-placeholder"></div>
                </div>
              </mat-card>
              <mat-card cdkDrag cdkDragData="4" class="mat-elevation-z4">
                <div fxLayout="row" fxLayoutGap="16px">
                  <div fxFlex="2 0 0" class="drop-placeholder"></div>
                  <div fxFlex="1 0 0" class="drop-placeholder"></div>
                </div>
              </mat-card>
              <mat-card cdkDrag cdkDragData="5" class="mat-elevation-z4">
                <div fxLayout="row" fxLayoutGap="16px">
                  <div fxFlex="1 0 0" class="drop-placeholder"></div>
                  <div fxFlex="2 0 0" class="drop-placeholder"></div>
                </div>
              </mat-card>
            </div>
          </mat-tab>
          <mat-tab label="Tags">
            <h3>Company Info</h3>
            <div class="static-tag">
              <mat-card *ngFor="let item of staticTags" draggable [dragData]="item">{{item.title}}</mat-card>
            </div>
            <mat-divider></mat-divider>

            <h3>DAXTRA Tags</h3>
            <mat-divider></mat-divider>

            <div class="daxtra-tag">

              <h4>Person Name</h4>
              <mat-card draggable *ngFor="let item of daxtraTags.PersonName" [dragData]="item">{{item.title}}</mat-card>
              <mat-divider></mat-divider>

              <h4>Contact Method</h4>
              <mat-card draggable *ngFor="let item of daxtraTags.ContactMethod" [dragData]="item">{{item.title}}</mat-card>
              <h5>Postal Address</h5>
              <mat-card draggable *ngFor="let item of daxtraTags.PostalAddress" [dragData]="item">{{item.title}}</mat-card>
              <mat-divider></mat-divider>

              <h4>Education History</h4>
              <mat-card draggable *ngFor="let item of daxtraTags.EducationHistory" [dragData]="item">{{item.title}}</mat-card>
              <h5>Degree</h5>
              <mat-card draggable *ngFor="let item of daxtraTags.Degree" [dragData]="item">{{item.title}}</mat-card>
              <h5>Location Summary</h5>
              <mat-card draggable *ngFor="let item of daxtraTags.EduLocationSummary" [dragData]="item">{{item.title}}</mat-card>
              <mat-divider></mat-divider>

              <h4>Employment History</h4>
              <mat-card draggable *ngFor="let item of daxtraTags.EmploymentHistory" [dragData]="item">{{item.title}}</mat-card>
              <h5>Location Summary</h5>
              <mat-card draggable *ngFor="let item of daxtraTags.EmpLocationSummary" [dragData]="item">{{item.title}}</mat-card>
              <mat-divider></mat-divider>

              <h4>Competency</h4>
              <mat-card draggable *ngFor="let item of daxtraTags.Competency" [dragData]="item">{{item.title}}</mat-card>
              <h5>Skill Aliases</h5>
              <mat-card draggable [dragData]="daxtraTags.skillAliasArray">{{daxtraTags.skillAliasArray.title}}</mat-card>
              <h5>Skill Used</h5>
              <mat-card draggable *ngFor="let item of daxtraTags.skillUsed" [dragData]="item">{{item.title}}</mat-card>
              <mat-divider></mat-divider>

              <h4>Executive Summary</h4>
              <mat-card draggable [dragData]="daxtraTags.ExecutiveSummary">{{daxtraTags.ExecutiveSummary.title}}</mat-card>
              <mat-divider></mat-divider>

              <h4>Revision Date</h4>
              <mat-card draggable [dragData]="daxtraTags.RevisionDate">{{daxtraTags.RevisionDate.title}}</mat-card>
            </div>
          </mat-tab>
        </mat-tab-group>

      </div>
    </perfect-scrollbar>
  </div>
</mat-sidenav>
<div class="main-container animated slideInLeft">
  <mat-toolbar fxLayout="row" fxLayoutAlign="flex-end center" class="mat-elevation-z4">
    <h1 style="margin-right: auto;">Resume Parser</h1>
    <a mat-mini-fab style="margin-right: 20px;" (click)="previewResume($event)" color="accent" matTooltip="Preview resume">
      <mat-icon>receipt</mat-icon>
    </a>
  </mat-toolbar>
  <mat-card *ngIf="0">
    <textarea class="parsed-resume-preview" rows="20" readonly>{{parsedResume}}</textarea>
  </mat-card>
  <perfect-scrollbar class="scroll-container" fxFlex="auto" [config]="config" [scrollIndicators]="true">
    <div class="scrollable-content">
      <div class="resume-body" cdkDropList #mainTempl="cdkDropList" [cdkDropListData]="done"
        (cdkDropListDropped)="drop($event)">
        <mat-card *ngFor="let item of done" [ngSwitch]="item" cdkDrag class="resume-row">
          <div *ngSwitchCase="1" fxLayout="row">
            <div class="drop-placeholder" droppable (onDrop)="onItemDrop($event)" [dragOverClass]="'drag-target-border'"></div>
          </div>
          <div *ngSwitchCase="2" fxLayout="row" fxLayoutGap="16px">
            <div class="drop-placeholder" droppable (onDrop)="onItemDrop($event)" [dragOverClass]="'drag-target-border'"></div>
            <div class="drop-placeholder" droppable (onDrop)="onItemDrop($event)" [dragOverClass]="'drag-target-border'"></div>
          </div>
          <div *ngSwitchCase="3" fxLayout="row" fxLayoutGap="16px">
            <div class="drop-placeholder" droppable (onDrop)="onItemDrop($event)"></div>
            <div class="drop-placeholder" droppable (onDrop)="onItemDrop($event)"></div>
            <div class="drop-placeholder" droppable (onDrop)="onItemDrop($event)"></div>
          </div>
          <div *ngSwitchCase="4" fxLayout="row" fxLayoutGap="16px">
            <div fxFlex="2 0 auto" class="drop-placeholder" droppable (onDrop)="onItemDrop($event)"></div>
            <div fxFlex="1 0 auto" class="drop-placeholder" droppable (onDrop)="onItemDrop($event)"></div>
          </div>
          <div *ngSwitchCase="5" fxLayout="row" fxLayoutGap="16px">
            <div fxFlex="1 0 auto" class="drop-placeholder" droppable (onDrop)="onItemDrop($event)" [dragOverClass]="'drag-target-border'"></div>
            <div fxFlex="2 0 auto" class="drop-placeholder" droppable (onDrop)="onItemDrop($event)" [dragOverClass]="'drag-target-border'"></div>
          </div>
        </mat-card>
      </div>
    </div>
  </perfect-scrollbar>
</div>