<mat-sidenav-container class="preview-container">
<mat-sidenav opened mode="side" position="start" class="animated slideInLeft mat-elevation-z8">
  <mat-toolbar fxLayout="row" fxLayoutAlign="flex-end center" class="mat-elevation-z4">
    <h1 style="margin-right: auto;">Resume Preview</h1>
    <a mat-mini-fab style="margin-right: 20px;" (click)="printResume($event)" color="primary" matTooltip="Print resume">
      <mat-icon>print</mat-icon>
    </a>
    <a mat-mini-fab (click)="publishResume($event)" color="primary" matTooltip="Publish resume">
      <mat-icon>cloud_download</mat-icon>
    </a>
  </mat-toolbar>
  <div class="template-list">
    <mat-list>
      <mat-list-item>
        <mat-card class="mat-elevation-z4">
          Template 1
        </mat-card>
      </mat-list-item>
    </mat-list>
  </div>
</mat-sidenav>
<div class="resume-preview-canvas">
  <perfect-scrollbar class="scroll-container" fxFlex="auto" [config]="config" [scrollIndicators]="true">
    <div class="scrollable-content">
      <div class="resume-preview-page mat-elevation-z8" fxLayout="column">
        <div class="resume-page-row" *ngFor="let item of templateOb | async" fxLayout="row" fxLayoutGap="16px">
          <div *ngFor="let rItem of item" fxFlex="1 0 auto">
            {{rItem}}
          </div>
        </div>
      </div>
    </div>
  </perfect-scrollbar>
</div>
<mat-sidenav opened mode="side" position="end" class="animated slideInRight mat-elevation-z8">
  <h3>Text Format</h3>
</mat-sidenav>
</mat-sidenav-container>