<mat-card class="settings-container animated slideInLeft">
  <mat-card-header>
    <mat-card-title>Change Company Settings</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form fxLayout="column">
      <mat-form-field class="full-width">
        <input matInput placeholder="Account Manager Name" type="text">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Account Manager Phone number" type="number">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Account Manager Email" type="email">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Save</button>
  </mat-card-actions>
</mat-card>